{% extends 'base.html' %}

{% block content %}
<h1 style="margin-bottom:20px;">Available Rooms</h1>

{% for room in rooms %}
<div style="
    border:1px solid #e0e0e0;
    border-radius:10px;
    padding:15px;
    margin-bottom:20px;
    display:flex;
    gap:20px;
    align-items:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.06);
">

    {% if room.image %}
        <img src="{{ room.image.url }}" width="200" style="border-radius:8px;">
    {% endif %}

    <div style="flex:1;">
        <h2 style="margin:0 0 8px 0;">
            <a href="/rooms/{{ room.id }}/" style="text-decoration:none; color:#2c3e50;">
                {{ room.get_room_type_display }} Room

            </a>
        </h2>

        <p style="margin:5px 0; color:#666;">
            ₹{{ room.price_per_night }} / night
            <p style="margin:5px 0;">
    Rating:
    {% if room.average_rating > 0 %}
        <span style="color:orange;">
            {{ room.average_rating|floatformat:1 }} ⭐ / 5
        </span>
    {% else %}
        No reviews yet
    {% endif %}
</p>

        </p>
        <p style="color:green; font-weight:bold;">
         {{ room.total_rooms }} Rooms Available
        </p>


        <a href="/bookings/book/?room_id={{ room.id }}" class="btn">Book Now</a>

    </div>

</div>
{% empty %}
    <p>No rooms available.</p>
{% endfor %}

{% endblock %}
