{% extends "base.html" %}
{% block content %}
<div class="container-card">

    <h2 class="page-title">🛎️ Book Your Stay</h2>

    {% if booking %}
        <div class="success-box">
            <strong>Booking Created Successfully!</strong><br>
            Room: {{ booking.room.get_room_type_display }}<br>
            Price per Night: ₹{{ booking.room.price_per_night }}
        </div>

        <div class="center">
            <a href="{% url 'payment_page' booking.id %}" class="btn-success">
                Proceed to Payment 💳
            </a>
        </div>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="center">
                <button type="submit" class="btn-primary">Book Now</button>
            </div>
        </form>
    {% endif %}

</div>
{% endblock %}
