{% extends 'base.html' %}

{% block content %}
<h2>Complete Your Payment 💳</h2>

<p><strong>Booking ID:</strong> {{ booking.id }}</p>
<p><strong>Room:</strong> {{ booking.room.get_room_type_display }} Room</p>
<p><strong>Price per Night:</strong> ₹{{ booking.room.price_per_night }}</p>

<hr>

<h3>Total Amount: ₹{{ payment.amount }}</h3>

<form method="post" action="/payments/success/{{ booking.id }}/">
    {% csrf_token %}
    <button type="submit" style="padding:10px 20px;">Pay Now</button>
</form>

{% endblock %}
